global
        log /dev/log    local0
        log /dev/log    local1 notice
        # chroot /var/lib/haproxy
        # stats socket /run/haproxy/admin.sock mode 660 level admin
        # stats timeout 30s
        # user haproxy
        # group haproxy
        daemon

        # # Default SSL material locations
        # ca-base /etc/ssl/certs
        # crt-base /etc/ssl/private

        # # Default ciphers to use on SSL-enabled listening sockets.
        # # For more information, see ciphers(1SSL).
        # ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend gogs-front
    bind *:8081
    mode http
    default_backend gogs-node

backend gogs-node
    mode http
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server gogs-server gogs:3000 check

frontend drone-front
    bind *:8080
    mode http
    default_backend drone-node

backend drone-node
    mode http
    # balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header Host drone-server:8000
    server drone-server drone-server:8000 check

# listen stats *:1936
#     stats enable
#     stats uri /
#     stats hide-version
#     stats auth someuser:password